

@media screen and (min-width: 375px) {

    body {
        background: linear-gradient(180deg, rgba(54,92,140,1) 0%, rgba(7,19,35,1) 100%);
    }
}


@media (max-width: 768px) {

    body {
        background: linear-gradient(180deg, rgb(238, 240, 243) 0%, rgb(10, 10, 10) 100%);
    
     }
     .texto {

        background-position: center;
     }

     .texto h3 {

      flex-wrap: wrap;
      color: white;
      font-size: 35px;
      display: flex;
      height: 60vh;
      margin: auto;

     }

     #luz {
        position: fixed;
        width: 45px;
        align-items: center;
     }




  }
