
.texto {

    font-family: Arial, sans-serif;
    background-image: url(/assets/main/img/_img_sobre_/ideia-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  }
  
  #luz {

      position: fixed;
      width: 50px;
      float: right;
  }


  .perfil img {

    display: block;
    width: 280px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fall 1.5s forwards;
    filter: drop-shadow(6px 4px 6px  #737373);

  }

  .falling-text {
    display: flex;
    height: 100vh;
    padding: 15%;
    margin: auto;
    font-size: 48px;
    color: #fff;
  }
  
  .falling-text h3 {
    display: block;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fall 1.5s forwards;
  }
  
  .falling-text p {

    text-align: center;
    padding: 10%;
  }

  @keyframes fall {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  