@charset "UTF-8";

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#contato {
  background-color: var(--texto-menu);
  padding: 20px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.info-zap {
  padding: 10px;
  justify-content: end;
}

.email {

  padding: 10px;
  justify-content: end;
}

.ticket {

  display:flex;
  flex-wrap: wrap;
  justify-content:right;
  text-align: start;
}

  #contato p {

    font-size: var(--icon-size);
    font-family: 'Arial';
    display: felx;
    text-align: start;
    text-decoration: none;
  }


.info-zap a,
span {

  color: white;
  padding: 20px;
  text-decoration: none;
  font-size: var(--icon-size);
}

.ticket a {

  text-decoration: none;
  color: var(--html-color);
}


  .minhaImagem-01 img {

    width: 125px;
    border-radius: 50px;
    border: 1px solid var(--texto-menu);
    box-shadow: 0 0 0 4px;
  }