@charset "UTF-8";

/*------------------------------------*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/*-----------------------------*/
@import "menu-inicial.css";
@import "logo-texto.css";
@import "parceiros.css";
@import "projetos.css";
@import "contato.css";
@import "footer.css";

/*-- grade de paletas de cores em HSL e RGB --*/

:root {

    --icon-size: 24px;
    --icon-color:hsl(39, 100%, 50%);
    --texto-menu:hsl(39, 100%, 50%);
    --contato-color:hsl(39, 100%, 50%);
    --parceiros-color:hsl(39, 100%, 50%);
    --footer-color:hsla(9, 100%, 64%, 0.8);
    --div-contato-color:hsl(0, 100%, 100%);
    --linha-de-pagina:hsl(0, 100%, 100%);
    --back-global:hsl(0, 100%, 100%);
    --div-parceiro-color:;
    --html-color:hsl(0, 100%, 0%);
    --body-color:rgb(51, 55, 188);
    --texto-p-:rgb(51, 0, 188);
    --hover-color: hsl(240, 100%, 50%);
    --projetos-color-back:hsl(0, 100%, 0%);
    --color-border-img:hsl(0, 100%, 100%);

}

/*-- Limpando codigos --*/
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*-- background --*/


body {

    background-color: var(--body-color);
    

}
