@charset "UTF-8";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@import "menu-inicial.css";
@import "texto-pagina.css";
@import "style.css";
@import "parceiros.css";
@import "contato.css";
@import "footer.css";


:root {

    --icon-size: 24px;
    --icon-color:hsl(39, 100%, 50%);
    --texto-menu:hsl(39, 100%, 50%);
    --contato-color:hsl(39, 100%, 50%);
    --parceiros-color:hsl(39, 100%, 50%);
    --footer-color:hsl(39, 100%, 50%);


  }


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {

    background-image: url(/img/logo_plano.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}