@charset "UTF-8";

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--- Configuração de Logo da empresa flutuante e vibrante --*/



.imagem {

    transition: filter 0.3s ease-in-out;
}

.imagem {

    display: flex;
    text-wrap: nowrap;
}


.imagem {


    width: 100%;
    justify-content: center;
    height: auto;
    margin: auto;
    padding: 1px;
    border-radius: 5px;
    animation: float 1s;
    
}

    .minhaImagem img {

        width: 480px;
        height: 320px;
        animation: float 2s ease-in-out infinite;

    }




/*-- Configuracao de Texto sobre mim ---*/


.texto {


    padding: 50px;
    margin: auto;
    word-wrap: break-word;
    text-align: start;
    font-size: 2rem;
    

}

    .texto a {

        text-decoration: none;
    }

    