@charset "UTF-8";


.menu-inicial {

    max-width:1200px;
    padding: 50px;
    margin-top:10vh;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    font-size: var(--icon-size);
    justify-content: space-between;

}

    #menu li {
 
        display:flex;
        flex-direction:column;
    }

    #menu a {

        text-decoration: none;
        font-weight: 600;
        gap: .5rem;
        color:var(--texto-menu);

    }


    #menu a:hover {

        color: hsl(240, 100%, 50%);
    }
