@charset "UTF-8";

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



ul {

    max-width:1000px;
    padding: 50px;
    margin-top:10vh;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: space-between;

}

.menu li {

 
    display:flex;
    flex-direction:column;


}

.menu a {

text-decoration: none;
font-weight: 600;
gap: .5rem;
color:var(--texto-menu);

}


a:hover {

    color: hsl(240, 100%, 50%);
}
