@charset "UTF-8";

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



ul {

    max-width:1200px;
    margin-top:10vh;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: space-between;

}


a {

    text-decoration: none;
    width:100px;
    text-align:center;
   
}

a:hover {

    color: blue;
}