@charset "UTF-8";



*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



#parceiros {

    
    background-color: var(--projetos-color-back);
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-size: 30px;

}

#parceiros h3,
.isp {


    color: white;
    
}

/*--- Configuração de IMG dos parceiros ---*/

.parceiros-isp {

    display: flex;
    justify-content: center;
    
}


#parceiros img {

    padding: 10px;
    margin: 0;
    width: 120px;
}