@charset "UTF-8";



*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



#parceiros {

    background-color: var(--projetos-color-back);
    text-align: center;
    font-size: 2rem;
}

#parceiros a {

    color: white;
    text-decoration: none;
}

/*--- Configuração de IMG dos parceiros ---*/


.parceiros-isp {

    display: flex; /* Cria colunas responsivas */
    flex-wrap: wrap;
    padding: 0 4px;
}

    .isp {

        flex: 50%;
        padding: 0 4px;
    }

        .isp img {

            margin-top: 8px;
            vertical-align: middle;
        }

