@charset "UTF-8";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#projetos {
    
    height: 700px;
    word-wrap: break-word;
    text-align: center;
    font-size: 2rem;

}


#projetos a {


    color: white;
    text-decoration: none;
}


.projetos-isp {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Cria colunas responsivas */
    gap: 5px; /* Define o espaço entre as células */
}

.pro-isp {

    /* Define estilos opcionais para os itens da grade, como bordas, margens, etc. */
    /*border: 1px solid var(--color-border-img);*/
    padding: 5px;
    margin: auto;
}

.pro-isp img {

    padding: 10px;
    margin: 0;
    width: 120px;
    height: auto;
}