@charset "UTF-8";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#projetos {
    
    background-color: var(--projetos-color-back);
    padding: 50px;
    word-wrap: break-word;
    margin-top: 100px;
    text-align: start;
    font-size: 2rem;

}


#projetos h3,
.pro-isp {


    color: white;
}