@charset "UTF-8";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#projetos {

    background-color: var(--projetos-color-back);
    text-align: center;
    font-size: 2rem;

}


#projetos a {

    color: white;
    text-decoration: none;
}


.projetos-isp {

    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

    .pro-isp {

        flex: 50%;
        padding: 0 4px;
    }

        .pro-isp img {

            margin-top: 8px;
            vertical-align: middle;
        }