@charset "UTF-8";

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.center {

    background: rgb(51, 0, 188);

}

.center img {/*logo tipo ou imagem pessoal*/

    width: 480px;
    height: 320px;
    animation: float 2s ease-in-out infinite;

}


.center {

    display: flex;
    text-wrap: nowrap;
}


.center { /*IMG DO FUNDO DA LOGO EM FLUTUAÇÃO*/

    /*background-image: url(/img/logo_plano.jpeg );*/

    width: 100%;
    justify-content: center;
    height: auto;
    margin: auto;
    padding: 1px;
    border-radius: 5px;
    animation: float 1s;
    
}


.robo {

    
    width:8px;
    height:5px;
    border: 5px solid #03FA6E;
    
}



/*menu de serviços*/


.mk02 {

padding: 10px;

}

.mk li {
     
    display: flex;
    margin: 5px;
    padding: 2px;
    /*border: 1px solid #333;*/
    text-align: right;
    

}


.mk img {/*img dos serviços*/

      display: flex;
      justify-content: center;
      width: 120px;
      height: 60px;

}

/*------------------------------------------------------*/

.slider-servicos {

    background: var(--slider-color);
    padding: 120px;
}

.slider-container {

    background: hsl(0, 0%, 71%);
    width: 85%;
    margin: 0 auto;
    overflow: hidden;

}

.slider {
    
    display: flex;
    text-align: center;
    transition: transform 1s ease-in-out;


}


.slide img {
        
        padding: 10px;
        margin: auto;
        min-width: 40%;

}



/*---------------------------------------------------*/

/* PAGINA DE PARCEIROS*/

.slideshow {
    
    position: relative;
    max-width: 750px;
    min-height: 100px;
    padding: 50px;
    margin: 0 auto;
    overflow: hidden;
  }


.slide img {
    width: 60%;
    height: auto;
  }

/*
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }

.prev {

    left: 0;
}
  
.next {
    right: 30%;
}
*/


