@charset "UTF-8";

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    padding: 12px;
    margin: 0 auto;
    background: #333;
   
}



#slide-img {

    padding: 120px;
    margin: 0 auto;

}

.slide img {

    width: 60%;
    height: auto;
}