@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px) { /* CONFIGURAÇÃO PARA TABLET */

    body {
        background-image: linear-gradient(to top, hsl(0, 100%, 100%), hsl(129, 24%, 78%));
    }
}

@media screen and (min-width: 992px) { /* CONFIGURAÇÕES PARA DESKTOP */

    body {
        background-image: linear-gradient(to top, hsl(0, 100%, 100%), rgb(24, 78, 129));
    }

    

}


@keyframes float {
    0%,100%{

        transform: translateY(0);
    }
    50%{

        transform: translateY(15%);
    }
}
