@charset "UTF-8";


/*
PELETAS DE CORES 

VERDE=
CINZA=

OU

AZUL=
PRETO=

Paletas de Cores

 Grey31 Cinza - #4F4F4F ou Grey21 - #363636
 RoyalBlue - #4169E1 ou  SteelBlue - #4682B4

*/

@media screen and (min-width: 768px) and (max-width: 992px) { /* CONFIGURAÇÃO PARA TABLET */

    body {
        background-image: linear-gradient(to top, #363636,#4682B4);
    }
}

@media screen and (min-width: 992px) { /* CONFIGURAÇÕES PARA DESKTOP */

    body {
        background-image: linear-gradient(to top, #363636,#4682B4);
    }

    

}

@keyframes float {
    0%,100%{

        transform: translateY(0);
    }
    50%{

        transform: translateY(15%); /*velocidade de img*/
    }
}
